body {
    margin: 0;
    padding: 0;
    background-color: #212b2d;
}

.container {
    width: 90%;
    margin: 0 auto;
    float: unset;


}

.hero {
    width: calc(100% - 60px);
    padding: 30px;
    height: 400px;
    position: relative;
}

.hero h1 {
    position: relative;
    width: 100%;
    color: white;
    font-size: 50px;
    margin: 50px 0;
    z-index: 1;
}

.hero span {
    position: relative;
    width: 100%;
    color: white;
    font-size: 24px;
    z-index: 1;
}

.hero img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    height: 20px;
    width: 100%;
    background-color: #333d3f;
    color: white;
    padding: 10px 0;
    
}
nav ul{
display: flex;
align-items: center;
width: 100%;
margin: 0;
padding: 0;
}

nav > ul > li {
    border-right: 2px solid white;
    padding: 0 6%;
    height: 20px;
    width: 200px;
    text-align: center;
    list-style: none;
}

nav > ul > li:last-child {
    border-right: 0;

}

.section-wrapper {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}

.side-section {
    width: calc(30% - 20px);
    padding-right: 20px;
    float: left;
}

.main-menu h2,
ul {
    width: 100%;
    color: white;
}

.block h2,
p {
    width: 100%;
    color: white;
}

.block p {
    font-size: 14px;
}



.main-section {
    width: 70%;
    float: right;

}

.gallery-section {
    width: 100%;
    color: white;
    margin-bottom: 50px;
}

.gallery-section h2 {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid white;
}

.gallery-section p {
    font-size: 14px;
}

.subscription-section {
    width: calc(50% - 20px);
    color: white;
    padding-right: 20px;
    border-right: 1px solid white;
    float: left;
}

.other-section {
    width: 45%;
    color: white;
    padding-right: 20px;
    float: right;
}

.subscription-section h2,
.other-section h2 {
    width: 100%;
    margin: 0;
    padding: 15px 0;

}

.subscription-section p,
.other-section p {
    font-size: 14px;
}

.subscription-section a,
.other-section a {
    color: white;
    background-color: gray;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
}

.contact-us {
    width: 100%;
    margin-bottom: 50px;
}

.contact-us h2 {
    width: 100%;
    color: white;
}

.form-control {
    width: 100%;
    color: white;
    margin-top: 20px;
}

.form-control label {
    width: 100%;
    padding-bottom: 15px;
    display: block;

}

.form-control input[type="text"],
.contact-us .submit,
.form-control textarea {
    width: 100%;
    padding: 0;

}

.form-control textarea {
    height: 150px;
}

.suggestion {
    width: 100%;
    display: flex;
    padding: 15px 0;
}

.suggestion label {
    color: white;
    padding-right: 30px;
}

#label-yes,
#label-no {
    padding-right: 0;
}